#folders
SQL/data
SQL/correccions
Python/Sprint09_CreacioFuncionsEstructuresDadesBucles/data/*
!Python/Sprint09_CreacioFuncionsEstructuresDadesBucles/data/.gitkeep

MongoDB/data/*

#macOS
.DS_Store

# env
it-academy-venv/